.center-me {
  display: flex;
  justify-content: center;
}
.action-bar {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  width: 30%;
}
.nav-option {
  text-decoration: none;
  display: flex;
  gap: 1rem;
}
