.center-me {
  display: flex;
  justify-content: center;
}
.action-bar {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 478px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 5px;
}
.nav-option {
  text-decoration: none;
  display: flex;
  gap: 1rem;
}

.action-bar button {
  margin: 1rem;
}
