.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 66, 151, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 80%;
  background-color: #fff;
  color: black;
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-footer {
  padding: 10px;
}

.modal-body {
  padding: 10px;
}

textarea {
  width: 40rem;
}
