.App {
  text-align: center;
  justify-content: center;
}

/*bootstrap stuff */
.registration-card {
  align-content: center;
}

/* .posts-page {
  background-color: pink;
} */

/* #new-post-form {
  background-color: blue;
} */

.posty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.divider {
  padding: 40px;
}
.small-divider {
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: 25%;
  padding: 0;
}
.form-control {
  width: 30rem;
}
#formBasicBody {
  height: 10rem;
}
#post-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: 25%;
}

.App-link {
  color: #61dafb;
}
